[Unit]
Description=Renew tailscale certificates for configured hostnames
After=network-online.target tailscaled.service docker.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup_traefik_test_certs.sh
