.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
*.log
dist/
secrets/*.dec.yaml
secrets/**/*.dec.yaml
secrets/**/*.dec.env
secrets/runtime/**/*.env
!secrets/runtime/**/*.env.example
.env
.DS_Store
