enable_hetzner            = true
enable_cloudflare         = false
hcloud_token              = "replace"
cloudflare_api_token      = "replace"
cloudflare_zone_id        = "replace"
domain_name               = "courseplatform.com"
bootstrap_bundle_repo     = "EduardValentin/terraform-infra"
bootstrap_bundle_version  = "v0.1.0"
tailscale_auth_key_prod   = "tskey-replace"
prod_pg_backup_enabled    = true
prod_pg_backup_oncalendar = "*-*-* 03:15:00"
prod_pg_backup_local_dir  = "/srv/backups/postgres"
prod_pg_backup_local_retention_days = 14
prod_pg_backup_nas_dir    = "/mnt/nas/courseplatform-backups"
prod_pg_backup_nas_retention_days = 14
