AUTH0_DOMAIN=replace.auth0.com
AUTH0_CLIENT_ID=replace
AUTH0_CLIENT_SECRET=replace
AUTH0_CALLBACK_URL=https://courseplatform-test.longhair-eagle.ts.net/auth/callback
AUTH0_MANAGEMENT_CLIENT_ID=replace
AUTH0_MANAGEMENT_CLIENT_SECRET=replace
AUTH0_ACTION_WEBHOOK_TOKEN=replace
DB_HOST=localhost
DB_PORT=5432
DB_USER=courseplatform
DB_PASS=replace
DB_NAME=courseplatform
DB_SSLMODE=disable
COOKIE_SECRET=replace
CSRF_SECRET=replace
STRIPE_SECRET_KEY=replace
STRIPE_WEBHOOK_SECRET=replace
OWN_DOMAIN=https://courseplatform-test.longhair-eagle.ts.net
MODE=prod
LOG_LEVEL=info
PORT=8080
APP_BASE_PATH=/courseplatform
