CLERK_FRONTEND_API_URL=replace-me
CLERK_PUBLISHABLE_KEY=replace-me
CLERK_OAUTH_CLIENT_ID=replace-me
CLERK_OAUTH_CLIENT_SECRET=replace-me
CLERK_OAUTH_CALLBACK_URL=https://susanoo-test.longhair-eagle.ts.net/courseplatform/auth/callback
CLERK_SECRET_KEY=replace-me
CLERK_ACCOUNT_PORTAL_URL=replace-me
CLERK_WEBHOOK_SIGNING_SECRET=replace-me
DB_HOST=localhost
DB_PORT=5432
DB_USER=courseplatform_app
DB_PASS=replace
DB_NAME=courseplatform
DB_SSLMODE=disable
COOKIE_SECRET=replace
CSRF_SECRET=replace
STRIPE_SECRET_KEY=replace
STRIPE_WEBHOOK_SECRET=replace
OWN_DOMAIN=https://susanoo-test.longhair-eagle.ts.net/courseplatform
MODE=prod
LOG_LEVEL=info
PORT=8080
APP_BASE_PATH=/courseplatform
