POSTGRES_USER=postgres
POSTGRES_PASSWORD=replace-with-strong-password
POSTGRES_DB=courseplatform
DB_OWNER_ROLE=courseplatform_owner
DB_MIGRATOR_ROLE=courseplatform_migrator
DB_MIGRATOR_PASSWORD=replace-with-strong-password
DB_APP_ROLE=courseplatform_app
DB_APP_PASSWORD=replace-with-strong-password
