ROLE=apphost
ENVIRONMENT=test
HOSTNAME_OVERRIDE=susanoo-test
TAILSCALE_AUTH_KEY=tskey-replace
TAILSCALE_TAGS=tag:test
APP_NAME=courseplatform
OPS_LOKI_URL=http://susanoo-ops.longhair-eagle.ts.net:3100/loki/api/v1/push
