ROLE=ops
ENVIRONMENT=ops
HOSTNAME_OVERRIDE=${hostname_override}
TAILSCALE_AUTH_KEY=${tailscale_auth_key}
TAILSCALE_TAGS=${tailscale_tags}
APP_NAME=${app_name}
TEST_HOSTS=${test_hosts}
PROD_HOSTS=${prod_hosts}
LOW_RESOURCE_MODE=${low_resource_mode}
OPS_GRAFANA_ADMIN_PASSWORD=${grafana_admin_password}
